# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Power BI
*.tmp

# Excel
~$*.xlsx
~$*.xlsm

# Generated Data
data/generated/

# Python build files
build/
dist/
*.egg-info/
